* {
    margin: 0;
    padding: 0;
}
body {
    font: 14px/1.4 Georgia, Serif;
}
#page-wrap {
    margin: 50px;
}
p {
    margin: 20px 0;
}

/*
Generic Styling, for Desktops/Laptops
*/
table {
    width: 100%;
    border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}
th {
    background: #333;
    color: white;
    font-weight: bold;
}
td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

label{
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    margin: 5pt 5pt;
}

span{
    margin-right: 10pt;
}


.form{
    align-content: left;
    width: 400px;
    height: 170px;
}

.form form{
    text-align: right;
}
.btn {
    background-color: #3c7caf;
    cursor: pointer;
    border: solid;
    border-radius: 8pt;
    color: white;
    margin: 5pt 0;
    padding: 8px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn:hover{
    background-color: #1d91af;
}

.exceeded{
    color: red;
}

.normal{
    color: green;
}